.App {
  text-align: center;
  /* @import "../node_modules//bootstrap/scss//bootstrap.scss";*/
}
/*.App{
  --bgColour : white ;
  --fgColour : black ;


  &[theme-mode="dark"]{
    --bgColour : black ;
    --fgColour : white ;

  }
   

} */

.App {
  --bgColour: rgb(214, 210, 210);
  --fgColour: black;
}
.App[theme-mode="dark"] {
  --bgColour: rgb(65, 63, 63);
  --fgColour: white;
}